/* Title (heading) */
.footer-title {
    font-size: 20px;
    /* thodi badi */
}

/* Links text */
.footer-links a {
    font-size: 15px;
    /* text size  */
    /* font-weight: 600; */
    /* bold */
    color: #212529;
    /* dark */
    text-decoration: none;
    transition: color 0.3s ease;

}

.footer-links li {
    margin-bottom: 8px;
    /* aap value badha/ghata sakte ho */
}

/* Hover effect */
.footer-links a:hover {
    color: green;
    font-weight: 600;

}


/* .footer-links img {
    vertical-align: middle;
} */

.footer-divider {
    margin-block-start: 12px;
    padding-block-start: 12px;
    border-block-start: 1px solid #000;
}

.footer-bottom-list a:hover {
    color: green;

}

/* Home.js */

/* HERO SECTION */
.hero-section {
    padding: 80px 0;
    background: #f5fdf8;
}

.hero-subtitle {
    color: #2e7d32;
    font-weight: 600;
    margin-bottom: 10px;
}

.hero-title {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.text-green {
    color: #2e7d32;
}

.hero-description {
    color: #555;
    margin-bottom: 30px;
}

.hero-buttons .btn {
    padding: 10px 22px;
    border-radius: 30px;
}

.hero-image {
    max-width: 90%;
}

/* FEATURES SECTION */
/* .features-section {
    padding: 20px 0;
    background: #ffffff;
}

.section-title {
    font-weight: 700;
    margin-bottom: 10px;
}

.section-subtitle {
    color: #777;
    margin-bottom: 40px;
} */

/* FEATURES */
.features-section {
    /* padding: 10px 0; */
    background: #f8f9fa;
}

.feature-card {
    background: white;
    padding: 35px;
    border-radius: 18px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, .08);
    transition: .4s ease;
    height: 100%;
}

.feature-card:hover {
    background: #2e7d32;
    color: white;
    transform: translateY(-12px);
}

.feature-icon {
    font-size: 30px;
}


/* About.js */

/* HERO */
.about-hero {
    background: linear-gradient(135deg, #1b5e20, #2e7d32);
    padding: 80px 20px;
}

/* Mission / Vision / Values Cards */
.mv-section {
    padding: 60px 0;
}

.mv-card {
    background: white;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.08);
    transition: 0.3s ease;
}

.mv-card:hover {
    transform: translateY(-8px);
    background-color: #2e7d32;
    color: white;
}

/* Features Section */
.features-section {
    padding: 60px 0;
}

.feature-card {
    background: white;
    padding: 25px;
    border-radius: 14px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
    transition: 0.3s ease;
}

/* .feature-card:hover {
    background-color: #2e7d32;
    color: white;
} */

.feature-icon {
    font-size: 2rem;
}

/* CTA */
.about-cta {
    background: linear-gradient(135deg, #2e7d32, #1b5e20);
    padding: 70px 20px;
}


/* ============== login - Signup */

.auth-section {
    background: linear-gradient(135deg, #e8f5e9, #c8e6c9);
    min-height: 100vh;
    display: flex;
    align-items: center;
    /* 🔥 change */
    /* vertical center */
    justify-content: center;
    /* horizontal center */

    padding: 40px;
    /* SAME space everywhere */
    /* full screen cover */

}

.auth-card {
    background: #ffffff;
    padding: 35px;
    border-radius: 18px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
    animation: fadeUp 0.6s ease;
}

.auth-link {
    color: #2e7d32;
    text-decoration: none;
}

.auth-link:hover {
    text-decoration: underline;
}

.form-control {
    border-radius: 10px;
    padding: 10px 14px;
}

.btn-success {
    border-radius: 12px;
    padding: 10px;
    font-weight: 600;
}

/* Animation */
@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(25px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* Make checkbox visible on light background */
.form-check-input {
    border: 1px solid #070a07;
    cursor: pointer;
}

.form-check-input:checked {
    background-color: #2e7d32;
    border-color: #2e7d32;
}

.form-check-label {
    color: #020302;
}



