.recycle-container{
  max-width:1300px;
}

/* TITLE */
.recycle-title{
  color:#0b8d5d;
  letter-spacing:1px;
}

/* CARD */
.recycle-card{
  border:none;
  border-radius:20px;
  overflow:hidden;
  background:rgba(255,255,255,0.95);
  backdrop-filter:blur(8px);
  transition:.4s ease;
  box-shadow:0 10px 25px rgba(0,0,0,0.08);
  position:relative;
}

/* HOVER */
.recycle-card:hover{
  transform:translateY(-10px);
  box-shadow:0 18px 40px rgba(0,0,0,0.15);
}

/* HEADER */
.recycle-header{
  background:linear-gradient(135deg,#e7f7f0,#d2f1e4);
  padding:35px 0;
}

/* ICON */
.icon-circle{
  width:75px;
  height:75px;
  background:white;
  border-radius:50%;
  display:flex;
  align-items:center;
  justify-content:center;
  margin:auto;
  font-size:28px;
  color:#0b8d5d;
  box-shadow:0 8px 20px rgba(0,0,0,0.12);
  transition:.3s;
}

/* ICON HOVER */
.recycle-card:hover .icon-circle{
  transform:scale(1.1) rotate(6deg);
}

/* TITLE */
.recycle-card-title{
  color:#0b8d5d;
}

/* SECTION */
.recycle-section h6{
  font-size:12px;
  font-weight:700;
  color:#0b8d5d;
  margin-top:10px;
}

.recycle-section p{
  font-size:13px;
  margin-bottom:6px;
}

/* BUTTON */
.recycle-btn{
  background:linear-gradient(135deg,#0b8d5d,#0a6f49);
  color:white;
  border-radius:10px;
  border:none;
  padding:10px;
  transition:.3s;
}

.recycle-btn:hover{
  transform:scale(1.05);
  box-shadow:0 8px 20px rgba(0,0,0,0.15);
}

.recycle-sub{
    color: #198754;
}
/* RESPONSIVE */
@media(max-width:768px){
  .recycle-card{
    margin-bottom:20px;
  }
}






.why-recycle-section{
    background:#f8f9fa;
    border-radius:12px;
    box-shadow:0 4px 15px rgba(0,0,0,0.05);
    text-align:center;
}

.why-title{
    font-weight:700;
    color:#2d6a4f;
}

.why-subtitle{
    color:#6c757d;
}

.feature-card-2{
    background:#ffffff;
    border-radius:12px;
    box-shadow:0 4px 12px rgba(0,0,0,0.06);
    transition:0.3s;
}

.feature-card-2:hover{
    transform:translateY(-5px);
}

.feature-icon{
    font-size:2rem;
    color:#2ecc71;
}

.feature-title{
    font-weight:600;
}

.feature-text{
    font-size:0.85rem;
    color:#6c757d;
}


